extend layout

block content
  h1= title

  .stats
    h2 Current Stats

    ol.dashboard-stats
      li#level
        h3 Level
        span= session.level
        if session.job
          a(href='/universe', class='button') Explore!
      li#hp
        h3 HP
        span= session.hp
        a(href='/refuel/', class='button', id='refuel') Buy health (cost 10)
      li#xp
        h3 XP
        span= session.xp
      li#gold
        h3 Gold
        span= session.gold
      li#job
        h3 Job
        span
          if session.job
            = session.job.name
          else
            a(href='/job', class='button') Set a job
      li#start-over
        h3 Reset
        span End game (you will lose all stats)
          a(href='/reset', class='button') Reset!
