extend layout

mixin toolList(tool)
  li
    img(src='/tools/#{name}.png')
    span.cost= tool.cost
    span.tool-type(data-key='#{tool.name.toLowerCase().replace(/\s/, '_')}')= tool.name

    if tool.prerequisites.length > 0
      .requirements
        = 'Needs the following: '
        ol
          - for (var item in tool.prerequisites) {
            li
              -
              = tool.prerequisites[item].tool
          - }

block content
  h1= title

  ul.items
    - for (var name in tools) {
      mixin toolList(tools[name])
    - }

  ul.stats
    li
      h3 Gold Available
      span.gold= session.gold

  #ship
    .message
      p Return to homebase!
    a(href='/dashboard') Dashboard
