extend layout

mixin toolList(tool, enabled)
  li(class='#{enabled}')
    img(src='/tools/#{name}.png')
    span.cost= tool.cost
    span.tool-type(data-key='#{tool.name.toLowerCase().replace(/\s/, '_')}')= tool.name

    if tool.prerequisites.length > 0
      .requirements
        = 'Needs the following: '
        ol
          - for (var item in tool.prerequisites) {
            li
              -
              = tool.prerequisites[item]
          - }

block content
  h1= title

  ul.items
    - for (var name in tools) {
      - var enabled = 'enabled';
      - if (tools[name].cost > session.gold) {
        enabled = 'disabled';
      - } else {
        - if (tools[name].prerequisites.length > 0) {
          - for (var i = 0; i < tools[name].prerequisites.length; i ++) {
            - if (!session.tools[tools[name].prerequisites[i]]) {
              - enabled = 'disabled';
              - break;
            - }
          - }
        - }
      - }
      mixin toolList(tools[name], enabled)
    - }

  ul.stats
    li
      h3 Gold Available
      span.gold= session.gold

  #ship
    .message
      p Return to homebase!
    a(href='/dashboard') Dashboard
