extend layout

block content
  h1= title

  ul.items
    - for (var name in tools) {
      li
        img(src='/tools/#{name}.png')
        span.cost= tools[name].cost
        span= tools[name].name

        if tools[name].prerequisites.length > 0
          .requirements
            = 'Needs the following: '
            ol
              - for (var item in tools[name].prerequisites) {
                li= tools[name].prerequisites[item].tool
              - }
    - }

  ul.stats
    li
      h3 Gold Available
      span= session.gold

  #ship
    .message
      p Return to homebase!
    a(href='/dashboard') Dashboard
